<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	
	<category label="General">
		<setting id="streamer_acestream" type="bool" visible="true" label="Liens AceStream"  default="true"/>
		<setting id="streamer_sopcast" type="bool" visible="true" label="Liens SopCast"  default="true"/>
		<setting id="streamer_youtube" type="bool" visible="true" label="Liens Youtube"  default="true"/>
		<setting id="streamer_aliez" type="bool" visible="true" label="Liens Aliez"  default="false"/>
		<setting id="streamer_web" type="bool" visible="true" label="Liens Web"  default="false"/>
		
		<setting id="autoplay" type="bool" visible="false" label="Autoplay links"  default="false"/>
    </category>


    <category label="Advanced">
    	<setting id="livetvsx_json_url" type="text" visible="true" label="Livetv.sx json url" default="http://bit.do/livetvsx"/>
		<setting id="delay" type="number" label="Time before re-dl json (minutes)" default="10"/>
		<setting id="torrentPlayer" type="enum" values="YATP|Quasar" label="Torrent player" default="0"/>		
    </category>

</settings>